@media screen and (max-width:600px) {
    header {
        padding-left: 0;
        padding-right: 0;
    }

    header nav div {
        width: 100%;
        align-items: center;
        padding-left: 35%;
    }

    .menu-top {
        padding-left: 10px;
    }

    .menu-top li {
        width: 100%;
        margin-top: 0;
    }

    .desc-img h1 {
        font-size: 3em;
    }

    .desc-img p {
        font-size: 1em;
    }

    .contact {
        flex-wrap: wrap;
    }

    .menu-top li a{
        margin: 0;
        display: block;
        width: 90%;
    }
    
    .list-footer {
        width: 100%;
    }
}